.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.EasyReadLoginTitle{
  color: white;
  text-shadow: 4px 4px 4px grey;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 75px;
  font-weight: 900;
  padding-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
  /* margin: auto; */
}

.EasyReadLoginIntro{
  color: white;
  text-shadow: 8px 8px 8px black;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2%;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2%;
}

.EasyReadLoginQuestion{
  margin-left: 3%;
  margin-bottom: 3.5%;
  text-shadow: 1px 1px 1px gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EasyReadRegisterQuestion{
  /* margin-left: -50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
  text-shadow: 1px 1px 1px gray;
}

.LoginContainer{
  margin-top: 2%;
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 800;
  margin: auto;
}